<div
  class="social-icons__wrapper"
  {{ block.shopify_attributes }}
>
  {% comment %}Auto-display social icons based on theme settings{% endcomment %}
  {% if settings.social_facebook != blank %}
    {% render 'social-icon', 
      platform: 'facebook', 
      handle: settings.social_facebook,
      size: 'lg'
    %}
  {% endif %}
  
  {% if settings.social_instagram != blank %}
    {% render 'social-icon', 
      platform: 'instagram', 
      handle: settings.social_instagram,
      size: 'lg'
    %}
  {% endif %}
  
  {% if settings.social_twitter != blank %}
    {% render 'social-icon', 
      platform: 'twitter', 
      handle: settings.social_twitter,
      size: 'lg'
    %}
  {% endif %}
  
  {% if settings.social_tiktok != blank %}
    {% render 'social-icon', 
      platform: 'tiktok', 
      handle: settings.social_tiktok,
      size: 'lg'
    %}
  {% endif %}
  
  {% if settings.social_youtube != blank %}
    {% render 'social-icon', 
      platform: 'youtube', 
      handle: settings.social_youtube,
      size: 'lg'
    %}
  {% endif %}
  
  {% if settings.social_linkedin != blank %}
    {% render 'social-icon', 
      platform: 'linkedin', 
      handle: settings.social_linkedin,
      size: 'lg'
    %}
  {% endif %}
  
  {% if settings.social_pinterest != blank %}
    {% render 'social-icon', 
      platform: 'pinterest', 
      handle: settings.social_pinterest,
      size: 'lg'
    %}
  {% endif %}
</div>

{% stylesheet %}
  .social-icons__wrapper {
    display: flex;
    gap: var(--gap-sm);
    flex-wrap: wrap;
    justify-content: center;

    @media screen and (min-width: 750px) {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.social_media_links",
  "tag": null,
  "settings": [],
  "info": "Social icons are automatically displayed based on handles configured in Theme Settings > Social media"
}
{% endschema %}
